# Byte-compiled / optimized / DLL files
.idea/
notebooks/.jupyter/
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
MSPCORPUS
TRANSCRIPCIONES

# Notebooks de pruebas
sandbox.ipynb
config.json
audio.*
/data/mspconvs.pkl
/data/*.pkl
/data/*.gz
/audioparts/
/audiosegments
data/wadf.pkl
.metals/
.mypy_cache/
.vscode/
audiosegments
cache/
checkpoint/
notebooks/isolated/
logs/